body {
    font: 17px / 1 Helvetica;
    background-color: #ddccdd;
    margin-left: 10%;
    margin-right: 5%;
}

body > * {
    margin-top: 0.5em;
}

#scalespan {
    font-size: 1.3em;
}

#scalenum {
    width: 3em;
}

#title {
    font-size: 2em;
    min-width: 10em;
}

input[type="text"] {
    font-size: 1em;
    background: none;
    border-style: none;
    border-bottom: solid thin;
    margin-bottom: 0%;
}

button {
    font-size: 1.3em;
    background: none;
}

#piano {
    position: relative;
    width: 0;
    height: 250px;
}

.keycheckbox {
    display: none;
}

label {
    position: absolute;
    background-repeat: no-repeat;
}

label.blackkey {
    background-image: url('blackkey.png');
    width: 30px;
    height: 150px;
}

label.whitekey {
    background-image: url('whitekey.png');
    width: 50px;
    height: 250px;
}

input[type='checkbox'] + label {
    opacity: 0.5
}

input[type='checkbox']:checked + label {
    opacity: 1
}

#scalenuminputwarning {
    opacity: 0.5;
}

input[type="text"] + #scalenuminputwarning {
    display: none;
}

input[type="text"]:focus + #scalenuminputwarning {
    display: inline;
}

#statslist {
    margin-top: 1em;
    font-style: italic;
    list-style: none;
}

.infoheader {
    font-weight: bold;
}

ul {
    margin-top: 0;
    list-style: none;
    padding-left: 1em;
}

li * {
    text-decoration: underline;
    color: black;
}

li a:hover {
    text-decoration: none;
}
