body {
    max-width: 50em;
    margin: auto;
    color: #0b0b0b;
    font-size: 20px;
    background-color: #ffeeee;
}

a {
    color:black;
}

input[type="text"] {
    width: 5em;
}

a:hover {
    text-decoration: none;
}

h1, h2 {
    text-align: center;
}

h2 {
    font-style: italic;
}

.maths {
    display: inline-block;
}

div {
    margin: 0.3em;
}

span.info {
    font-style: italic;
    display: inline-block;
}

input {
    background: #ffffff;
    font-size: 20px;
}

#loopbox {
    font-style: italic;
    font-weight: bold;
}

#loopbox, #desc {
    display: inline-block;
    vertical-align: top;
    margin: 0 1.5em;
}

#loopcount {
    height: 7em;
    width: 7em;
    whitespace: pre;
    overflow: scroll;
    margin: 1em;

    border-style: solid;
    border-width: thin;
    padding: 0.3em;
    max-width: 30em;
}

#desc {
    max-width: 21em;
    float: right;
}