label {
  margin-right: 1rem;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 5px 10px;
}

.canvas-container {
  position: relative;
}

.label-controls {
  margin-top: 0.5rem;
}

label#image-input-label {
  margin-right: 0;
}

label#image-input-label > button {
  pointer-events: none;
}

#controls {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#image-canvas {
  z-index: 0;
}

#drawing-canvas {
  z-index: 1;
}

#displays {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  min-height: 25px;
}

#displays > * {
  margin-right: 1rem;
}

/*
 * table styling
 */

table {
  border-collapse: collapse;
  border: 0;
  letter-spacing: 1px;
}

th {
  font-weight: normal;
  border: none;
}

td {
  min-width: 35px;
}

.table-number-cell {
  text-align: right;
}

.table-row-label {
  text-align: center;
  border: none;
}
