body {
  font-family: "Arial";
}

h1 {
  font-family: serif;
  margin: 0;
  font-size: 2rem;
}

img {
  display: block;
  border: solid thin;
  border-color: #777;
  padding: 1rem;
  margin: 1rem;
  max-width: calc(99% - 4rem);
}

header {
  margin-bottom: 1rem;
}

canvas {
  border: solid thin;
  position: absolute;
  left: 0;
  top: 0;
}

label {
  margin-right: 1rem;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 5px 10px;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 1);
  z-index: 3;
  width: calc(100% - 2rem);
}

.modal-content {
  max-width: 55rem;
  /* margin: auto; */
}

.canvas-container {
  position: relative;
}

.label-controls {
  height: 2rem;
  margin-top: 1rem;
}

.table-number-cell {
  text-align: right;
}

label#image-input-label {
  margin-right: 0;
}

label#image-input-label > button {
  pointer-events: none;
}

#controls {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#image-canvas {
  z-index: 0;
}

#drawing-canvas {
  z-index: 1;
}

#displays {
  height: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

canvas {
  max-width: 99%;
  max-height: 130vh;
}

#displays > * {
  margin-right: 1rem;
}
