body {
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
    color: #404040;
}


h1 {
  font-size: 25px;
}

h2 {
  margin: 0px;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 18px;
}

a { color: #404040 }
a:hover { text-decoration: none }

#downloadlink {
    display: none;
}

.music div {
    float: left;
    clear: none;
}

.section {
  min-width: 300px;
  padding: 10px;
  margin: 3px;
  border: 1px solid #404040;
  list-style-position: inside;
  list-style-type: circle;
}

input[type="button"] {
    background: none;
    min-width: 5em;
    color: #404040;
}

#stats {
    float: right;
}
