body { margin-left: 25px; margin-right: 25px; }

h1 {
  font-size: 18px;
  display: inline;
}

h2 {
  margin: 0px;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 18px;
}


a { color: black }
a:hover { text-decoration: none }

.music div { float: left; clear: none; }

.section {
  min-width: 300px;
  padding: 10px;
  margin: 3px;
  border: 1px solid black;
  list-style-position: inside;
  list-style-type: circle;
}
